<section >
    <ng-template #content let-c="close" let-d="dismiss" class="template">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title"><strong>Informacion del Empleado</strong></h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" >
          <div class="form-group col-8">
              <span>Id empleado</span>
              <input type="number" class="form-control" disabled value="{{empleadoPorId.idEmpleado}}">
          </div>
          <div class="form-group col-8">
            <span>Nombre</span>
            <input type="text" class="form-control" disabled value="{{empleadoPorId.nombre}}">
          </div>
          <div class="form-group col-8">
            <span>Cargo</span>
            <input type="text" class="form-control" disabled value="{{empleadoPorId.salario.cargo}}">
        </div>
        <div class="form-group col-8">
            <span>Salario mensual básico</span>
            <input type="number" class="form-control" disabled value="{{empleadoPorId.salario.salarioBase}}">
        </div>
        <div class="form-group col-8">
          <span>Salario mensual con recargo</span>
          <input type="number" class="form-control" disabled value="{{empleadoPorId.salario.salarioRecargo}}">
      </div>
      <div class="form-group col-8">
        <span>Último pago</span>
        <input type="number" class="form-control" disabled value="{{empleadoPorId.ultimoPago}}">
    </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Aceptar</button>
          <button type="button" class="btn btn-outline-danger" (click)="d('Cross click')">Cancelar</button>
        </div>
      </ng-template>
    </section>
<section>
    <h3 style="text-align: center; margin: 30px;">Lista de Empleados </h3>
    <div class="contenido" >
      <p *ngIf="!(empleados && empleados.length)">
        no existen registros
      </p>
      
      <table class="table table-striped" *ngIf="(empleados && empleados.length)">
          <thead>
              <tr>
                  <th>Id</th>
                  <th>Nombre</th>
                  <th>Cargo</th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody >
              <tr *ngFor="let empleado of empleados">
                <td>{{empleado.idEmpleado}}</td>
                <td>{{empleado.nombre}}</td>
                <td>{{empleado.salario.cargo}}</td>
                <td><button type="button" class="btn btn-info" (click)="open(content); getEmpleadoPorId(empleado.id)">Consultar salario</button></td>
             </tr>
          </tbody>
      </table>
  </div>
  </section>
  